<div class="container">
   <div class="row">
      <div class="col-lg-3">
         <h4 class="my-4">Explore.</h4>
         <div class="list-group">
            <a href="/promotions" class="list-group-item">Promotions</a>
            <a href="/tshirts" class="list-group-item">T-shirts</a>
            <a href="/trousers" class="list-group-item">Trousers</a>
            <a href="/shoes" class="list-group-item">Shoes</a>
         </div>
      </div>
