
<h4 class="my-4">Shoes</h4>

<div class="row">

  <!-- Shoes -->
   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../bo1.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Adidas</a>
            </h4>
            <h5>Sport</h5>
            <p class="card-text">Limited edition. 10% off all t-shirts and shoes. Only at Autoshop.</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            <small class="text-white" style="background-color: #ff5152;">Only 4 left!</small>
         </div>
      </div>
   </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../bo2.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">Onitsuka Tiger</a>
           </h4>
           <h5>Sport</h5>
           <p class="card-text">Unique design. 10% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
        </div>
     </div>
  </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../bo3.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">Asos</a>
           </h4>
           <h5>Classic</h5>
           <p class="card-text">Limited availability. 15% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
        </div>
     </div>
  </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../bo4.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">Next</a>
           </h4>
           <h5>Elegant</h5>
           <p class="card-text">Just arrived. 10% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
        </div>
     </div>
  </div>
  </div>
