<!-- Trousers -->
<h2 class="my-4">Top Picks &#10084;</h2>
<h4 class="my-4">Trousers</h4>

<div class="row">
   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../tr1.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Wrangler</a>
            </h4>
            <h5>Skinny</h5>
            <p class="card-text">Classic Wrangler trousers. 10% off all denim products. Limited offer, at Autoshop only!</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
         </div>
      </div>
   </div>

   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../tr2.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Levi</a>
            </h4>
            <h5>Stretch</h5>
            <p class="card-text">Levi's trousers at limited availability. Only now, 10% off all denim products. Limited offer at Autoshop only!</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
         </div>
      </div>
   </div>

   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../tr3.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Lee</a>
            </h4>
            <h5>Casual</h5>
            <p class="card-text">Classic Lee jeans. 10% off all denim products. Limited offer at Autoshop only!</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
         </div>
      </div>
   </div>

   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../tr4.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Primark</a>
            </h4>
            <h5>Skinny</h5>
            <p class="card-text">Multibuy offer 2 for 3. 10% off all denim products. Only at Autoshop.</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
         </div>
      </div>
   </div>
      </div>
