
<h4 class="my-4">T-shirts</h4>

<div class="row">

  <!-- T-shirts -->
   <div class="col-xs-6 col-sm-3">
      <div class="card h-100">
         <a href="#"><img class="card-img-top" src="../sh1.png" alt=""></a>
         <div class="card-body">
            <h4 class="card-title">
               <a href="#">Ted Baker</a>
            </h4>
            <h5>Regular</h5>
            <p class="card-text">Multibuy offer 2 for 3. 10% off all t-shirts and underwear products. Only at Autoshop.</p>
         </div>
         <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
         </div>
      </div>
   </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../sh2.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">United Athle</a>
           </h4>
           <h5>Slim Fit</h5>
           <p class="card-text">Multibuy offer 4 for 6. 25% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
        </div>
     </div>
  </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../sh3.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">Primark</a>
           </h4>
           <h5>Slim Fit</h5>
           <p class="card-text">Multibuy offer 2 for 3. 15% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
        </div>
     </div>
  </div>

  <div class="col-xs-6 col-sm-3">
     <div class="card h-100">
        <a href="#"><img class="card-img-top" src="../sh4.png" alt=""></a>
        <div class="card-body">
           <h4 class="card-title">
              <a href="#">Adidas</a>
           </h4>
           <h5>Casual</h5>
           <p class="card-text">Limited edition. 10% off all products. Only at Autoshop.</p>
        </div>
        <div class="card-footer">
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
           <small class="text-white" style="background-color: #ff5152;">Only 2 left!</small>
        </div>
     </div>
  </div>
  </div>
