<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Call head.ejs -->
        <% include ../partials/head %>
    </head>
    <header>
      <!-- Call header.ejs -->
        <% include ../partials/header %>
    </header>
    <body style="background-color: #e9ebee;">
        <!-- Loop for every item in the variable -->
        <div class="container">
            <div class="list-group">
                <% json.forEach(function(item) { %>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= item.name %></h5>
                        <small class="text-muted"><%= item.location %></small>
                    </div>
                    <p class="mb-1"><%= item.text %></p>
                    <small class="text-muted"><%= item.url%></small>
                </a>
                <% });%>
            </div>
        </div>
        </div>
    </body>
    <!-- footer -->
    <% include ../partials/footer %>
</html>
