<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Call head.ejs -->
        <% include ../partials/head %>
    </head>
    <header>
      <!-- Call header.ejs -->
        <% include ../partials/header %>
    </header>
    <body style="background-color: #e9ebee;">
        <!-- Page Content -->
        <div class="container">
            <br>
            <br>
            <h2 class="my-4">Sorry. Your basket is empty :( </h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </body>
    <% include ../partials/footer %>
</html>
