<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #e9ebee;">
    <!-- Page Content -->
    <br>
    <br>
    <h2 class="my-4">Sorry. Your basket is empty :(</h2>
    <br>
  </body>
        <% include ../partials/footer %>
</html>
