<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #ffffff;">
        <div class="container">
        <nav class="navbar navbar-light" style="background-color: #6467d1;">
        <span class="lead" style="color: #ffffff;">Hey! Check out our limited time offers. This weekend only.</span>
      </nav>
      </div>
        <% include ../partials/categories %>
        <% include ../partials/main_slider %>
        </div>
        </div>

        <div class="jumbotron jumbotron-fluid" style="background-color: #ff5152;">
        <div class="container">
          <h1 class="display-4" style="color: #ffef74;">Up to 25% off!</h1>
          <p class="lead" style="color: #ffef74;">For a limited time only enjoy range of your favourite products at unbeatable prices!</p>
        </div>
        </div>
        <% include ../partials/promo_feeder %>
        <br>
        <div class="jumbotron jumbotron-fluid" style="background-color: #a3f5d1;">
        <div class="container">
          <h1 class="display-4" style="color: #1436d9;">Promo Week!</h1>
          <p class="lead" style="color: #1436d9;">Only this weekend time only enjoy range of your favourite products at unbeatable prices!</p>
        </div>
        </div>

        <br>
        <br>
        <h2 class="my-4">More about Autoshop:</h2>
        <br>
          <!-- Marketing messaging and featurettes-->
          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="../icon_ship.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Fast Shipping</h2>
                <p>Autoshop uses always 24 hour fast shipping. Always fast & secure. Collect+ delivery available.</p>
                <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="../icon_user.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Customer Support</h2>
                <p>Should you require any assistance, do not hestitate to contact us. We value every single customer.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Contact us</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-xs-6 col-sm-3">
                <img class="rounded-circle" src="../icon_art.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Variety of Tastes</h2>
                <p>Explore our range of products and items today. Variety available and even more to come!</p>
                <p><a class="btn btn-secondary" href="#" role="button">Explore</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
      <br>
      <br>
         </div>
    </body>
        <% include ../partials/footer %>
</html>
