<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #e9ebee;">
        <% include ../partials/categories %>
        <% include ../partials/main_slider %>
        </div>
        </div>
        <h2 class="my-4">Top Picks ♥</h2>
        <% include ../partials/trouser_feeder %>
        <% include ../partials/tshirt_feeder %>
        <% include ../partials/shoe_feeder %>
        <br>
        <br>
                <h2 class="my-4">More from Autoshop:</h2>
          <!-- Marketing messaging and featurettes-->
          <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_ship.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Fast Shipping</h2>
                <p>Autoshop uses always 24 hour fast shipping. Always fast & secure. Collect+ delivery available.</p>
                <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_heart.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Customer Support</h2>
                <p>Should you require any assistance, do not hestitate to contact us. We value every single customer.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Contact us&raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_art.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Variety of Tastes</h2>
                <p>Explore our range of products and items today. Variety available and even more to come!</p>
                <p><a class="btn btn-secondary" href="#" role="button">Explore &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.container -->

<br>
<br>
    <footer>
 <% include ../partials/footer %>
    </footer>

</html>
