<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #4780c2;">
        <% include ../partials/categories %>
        <% include ../partials/main_slider %>
        </div>
        </div>
            <div class="row">
               <div class="col-xs-6 col-sm-3">
                  <div class="card h-100">
                     <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Wrangler</a>
                        </h4>
                        <h5>Skinny</h5>
                        <p class="card-text">Classic Wrangler trousers. 10% off all denim products. Limited offer, at Autoshop only!</p>
                     </div>
                     <div class="card-footer">
                       <small class="text-muted">Trousers</small>
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                     </div>
                  </div>
               </div>

               <div class="col-xs-6 col-sm-3">
                  <div class="card h-100">
                     <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Levi</a>
                        </h4>
                        <h5>Stretch</h5>
                        <p class="card-text">Levi's trousers at limited availability. Only now, 10% off all denim products. Limited offer at Autoshop only!</p>
                     </div>
                     <div class="card-footer">
                       <small class="text-muted">Trousers</small>
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                     </div>
                  </div>
               </div>

               <div class="col-xs-6 col-sm-3">
                  <div class="card h-100">
                     <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Lee</a>
                        </h4>
                        <h5>Casual</h5>
                        <p class="card-text">Classic Lee jeans. 10% off all denim products. Limited offer at Autoshop only!</p>
                     </div>
                     <div class="card-footer">
                       <small class="text-muted">Trousers</small>
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                     </div>
                  </div>
               </div>

               <div class="col-xs-6 col-sm-3">
                  <div class="card h-100">
                     <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Primark</a>
                        </h4>
                        <h5>Skinny</h5>
                        <p class="card-text">Multibuy offer 2 for 3. 10% off all denim products. Only at Autoshop.</p>
                     </div>
                     <div class="card-footer">
                       <small class="text-muted">Trousers</small>
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                     </div>
                  </div>
               </div>
             </div>
             <br>
             <br>

          <!-- Marketing messaging and featurettes-->

          <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_ship.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Fast Shipping</h2>
                <p>Autoshop uses always 24 hour fast shipping. Always fast & secure. Collect+ delivery available.</p>
                <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_heart.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Customer Support</h2>
                <p>Should you require any assistance, do not hestitate to contact us. We value every single customer.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Contact us&raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../icon_art.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Variety of Tastes</h2>
                <p>Explore our range of products and items today. Variety available and even more to come!</p>
                <p><a class="btn btn-secondary" href="#" role="button">Explore &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 push-md-5">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 pull-md-7">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

    <!-- /.container -->
    <!-- Footer -->
    <footer>
 <% include ../partials/footer %>
    </footer>

</html>
