<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
   <body style="background-color: #e9ebee;">
     <div class="container">
       <div class="row justify-content-md-center">
         <section class="py-5">
            <form class="form-signin" action="/dologin" method="POST">
               <h2 class="form-signin-heading">Welcome back <%= user.login.username %></h2>
               <br>
               <input type="text" class="form-control" name="username" placeholder="Login"name="email" required="" autofocus="" />
               <br>
               <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
               <br>
               <br>
               <button class="btn btn-lg btn-block text-white" type="submit" style="background-color: #4267b2;">Login</button>
               <br>
               <a href="/register" class="m-0 text-center">Not a member? Register here.</p>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
         </section>
       </div>
     </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   </body>
           <% include ../partials/footer %>
</html>
