<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body style="background-color: #ffffff;">

    <!-- Page Content -->
   <% include ../partials/categories %>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
             <div class="row">
           <% promotions.forEach(function(item) { %>
             <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                   <a href="#"><img id="t_img" class="card-img-top" src={{ item.path }} alt=""></a>

                   <div class="card-body">
                      <h4 class="card-title">
                         <a href="/item?x=5&x=22"><%= item.brand %></a>
                      </h4>
                      <h5><%= item.type %></h5>
                      <p class="card-text"><%= item.description %></p>
                   </div>
                   <div class="card-footer">
                     <button type="button" class="btn btn-primary">Add to basket</button>
                     <p class="text-muted">Item: <%= item.sku %></p>
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                   </div>
                </div>
             </div>
             <% });%>
           </div>
        </div>




  </body>
        <% include ../partials/footer %>
</html>
