<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body>

    <!-- Page Content -->
   <% include ../partials/categories %>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
             <div class="row">
           <% drinks.forEach(function(drink) { %>
             <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                   <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                   <div class="card-body">
                      <h4 class="card-title">
                         <a href="#"><%= drink.name %></a>
                      </h4>
                      <h5><%= drink.drunkness %></h5>
                      <p class="card-text"><%= tagline %></p>
                   </div>
                   <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                   </div>
                </div>
             </div>
             <% });%>
           </div>
        </div>



        app.get('/all', function(req, res) {
         db.collection('trousers').find().toArray(function(err, result) {
           if (err) throw err;
           var output = "<h1>All the quotes</h1>";
           for (var i = 0; i < result.length; i++) {
             output += "<div>"
             output += "<h3>" + result[i].brand + "</h3>"
             output += "<p>" + result[i].type + "</p>"
             output += "</div>"
           }
         res.send(output);
         });
        });



  </body>
    <!-- Footer -->
    <footer>
 <% include ../partials/footer %>
    </footer>
</html>
