<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body>

    <!-- Page Content -->
   <% include ../partials/categories %>
          <!-- /.col-lg-3 -->

          <script>
          var MongoClient = require('mongodb').MongoClient;
          var url = "mongodb://localhost:27017/";

          MongoClient.connect(url, function(err, db) {
            if (err) throw err;
            var dbo = db.db("autographdb");
            dbo.collection("customers").findOne({}, function(err, result) {
              if (err) throw err;
              console.log(result.name);
              db.close();
            });
          });
          </script>


          <div class="col-lg-9">
             <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mt-4">
                   <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="pictures/tr1.jpg" alt=""></a>
                      <div class="card-body">
                         <h4 class="card-title">
                            <a href="#">Super trousers</a>
                         </h4>
                         <h5>$24.99</h5>
                         <p class="card-text">This trousers is made for you if you like going to Uni </p>
                      </div>
                      <div class="card-footer">
                         <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                   </div>
                </div>


             <!-- /.row -->
          </div>
          <!-- /.col-lg-9 -->
       </div>
       <!-- /.row -->
    </div>
    <!-- /.container -->

  </body>
    <!-- Footer -->
    <footer>
 <% include ../partials/footer %>
    </footer>
</html>
