<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>
  <body>

    <!-- Page Content -->
   <% include ../partials/categories %>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">
             <div class="row">
           <% drinks.forEach(function(drink) {
             %>
               <p>
               <div class="col-lg-9">
                  <div class="row">
                     <div class="col-lg-4 col-md-6 mb-4 mt-4">
                        <div class="card h-100">
                           <a href="#"><img class="card-img-top" src="pictures/tr1.jpg" alt=""></a>
                           <div class="card-body">
                              <h4 class="card-title">
                                 <a href="#"><%= drink.name %></a>
                              </h4>
                              <h5><%= drink.drunkness %></h5>
                              <p class="card-text"><%= tagline %></p>
                           </div>
                           <div class="card-footer">
                              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                           </div>
                        </div>
                     </div>
             </p>
             <% });%>
           </div>
        </div>






        <div class="col-lg-9">
           <div class="row">


              <div class="col-lg-4 col-md-6 mb-4">
                 <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                    <div class="card-body">
                       <h4 class="card-title">
                          <a href="#">Random shirt</a>
                       </h4>
                       <h5>£24.99</h5>
                       <p class="card-text">If you like random shirt, well I just want to say that this shirt is made for !</p>
                    </div>
                    <div class="card-footer">
                       <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                 </div>
              </div>


              <div class="col-lg-4 col-md-6 mb-4">
                 <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="pictures/t6.jpg" alt=""></a>
                    <div class="card-body">
                       <h4 class="card-title">
                          <a href="#">Running shirt</a>
                       </h4>
                       <h5>£24.99</h5>
                       <p class="card-text">If you like running marathon this shirt is made for you ! Just buy it lad !</p>
                    </div>
                    <div class="card-footer">
                       <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                 </div>
              </div>



              <div class="col-lg-4 col-md-6 mb-4">
                 <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="pictures/t5.jpg" alt=""></a>
                    <div class="card-body">
                       <h4 class="card-title">
                          <a href="#">Random shirt</a>
                       </h4>
                       <h5>£24.99</h5>
                       <p class="card-text">If you like random shirt, well I just want to say that this shirt is made for !</p>
                    </div>
                    <div class="card-footer">
                       <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                 </div>
              </div>



              
           </div>
           <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
     </div>
     <!-- /.row -->
  </div>
  <!-- /.container -->

  </body>
    <!-- Footer -->
    <footer>
 <% include ../partials/footer %>
    </footer>
</html>
