<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <header>
   <% include ../partials/header %>
  </header>




  <body style="background-color: #e9ebee;">
        <div class="container">
        <nav class="navbar navbar-light" style="background-color: #e9ebee;">
        <span class="lead" style="color: #4267b2;">Welcome back </span>
      </nav>
      </div>

        <% include ../partials/categories %>




        <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Bhaumik Patel</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        </div>

        <div class="jumbotron jumbotron-fluid" style="background-color: #f5c7ca;">
        <div class="container">
          <h1 class="display-4" style="color: #5639b6;">Welcome back!</h1>
          <p class="lead" style="color: #5639b6;">Here are some deals picked only for you!</p>
        </div>
        </div>
        <% include ../partials/promo_feeder %>
        <br>
        <div class="jumbotron jumbotron-fluid" style="background-color: #a3f5d1;">
        <div class="container">
          <h1 class="display-4" style="color: #1436d9;">Promo Week!</h1>
          <p class="lead" style="color: #1436d9;">Only this weekend time only enjoy range of your favourite products at unbeatable prices!</p>
        </div>
        </div>

      <br>
      <br>
         </div>
    </body>
        <% include ../partials/footer %>
</html>
